@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
	@apply box-border;
}

body {
	@apply text-primary;
}

input[type='text'],
input[type='email'],
input[type='number'],
select {
	@apply outline-[2px] outline-black/0 duration-300 w-full p-10 rounded-md border-[1px] border-gray-400;
}

.card {
	@apply p-40 rounded-lg bg-white shadow-2xl shadow-black/20;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='number']:focus,
select:focus {
	@apply outline-black/50 duration-300 w-full p-10 rounded-md border-[1px] border-gray-400;
}

button[type='submit'] {
	@apply uppercase w-full p-20 bg-black text-white text-center rounded-md;
}

button[type='submit'] {
	@apply uppercase w-full p-20 bg-black text-white text-center rounded-md;
}

.button {
	@apply duration-200 hover:bg-primary hover:text-white font-bold rounded-xl uppercase text-[14px] text-primary bg-white px-[24px] py-[12px];
}

.content {
	@apply py-[140px] px-100 w-full;
}

h2 {
	@apply m-0 font-extralight text-center block w-full text-[46px];
}

h3 {
	@apply m-0 font-extralight block w-full text-[32px];
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
